---
layout: default
title: Home
---
<head>
  <style>
    .article {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ffffff;
        border-radius: 0.5px;
        background-color: #ffffff;
    }
    .article h6 {
        margin: 0 0 10px;
        color: #931a44;
    }
    .article p {
        margin: 5px 0;
        color: #555;
    }
    .highlight {
      color: red;
      font-weight: bold;
    }
    .bold {
      color: #555;
      font-weight: bold;
    }
    .project {
      color: #555;
    }
</style>
</head>
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am an incoming postdoc at The University of Washington. I will be co-advised by <a href="https://koh.pw/" target="_blank" rel="noopener noreferrer">Pang Wei Koh</a> and <a href="https://homes.cs.washington.edu/~hannaneh/" target="_blank" rel="noopener noreferrer">Hanna Hajishirzi</a>. I completed my Ph.D at The University of Hong Kong where I was fortunately co-advised by <a href="https://ikekonglp.github.io" target="_blank" rel="noopener noreferrer">Lingpeng Kong</a> and <a href="https://taoyds.github.io" target="_blank" rel="noopener noreferrer">Tao Yu</a>, and also worked closely with <a href="https://jxhe.github.io" target="_blank" rel="noopener noreferrer">Junxian He</a>.   Before that,  I received my B.S. in Computer Science from Peking University, advised by <a href="https://www.cis.pku.edu.cn/jzyg/szdw/dzh.htm" target="_blank" rel="noopener noreferrer">Zhihong Deng</a>. 
  </p> 
<p> 
</p>
  <!-- <h5>Research Interest</h5>
  #Agents   #AI4Science       #DrugDiscovery       #MachineLearningTheory       -->
<!-- Apart from my advisors, I was also deeply inspired by these <a href="collaborators.html">collaborators</a> throughout my research. -->
  
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <!-- <ul class="tab-nav">
    <li><div class="button" data-ref="#papers-all">All</div></li>
    <li><div class="button active" data-ref="#papers-selected">#AI4Science</div></li>
    <li><div class="button active" data-ref="#papers-agent">#Agent</div></li>
    <li><div class="button active" data-ref="#papers-generalization">#TrustworthyML</div></li>
  </ul> -->

  <!-- <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        
        <img src={{ paper.thumbnail }} style="FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 20px" alt=""width="200" height="100">
        
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div> -->


    <!-- <div class="tab-pane active" id="papers-agent">
      {% assign selected_papers = site.data.publications.papers | where: "agent", "y" %}
      {% for paper in selected_papers %}
        
        <img src={{ paper.thumbnail }} style="FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 20px" alt=""width="200" height="100">
        
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane active" id="papers-generalization">
      {% assign selected_papers = site.data.publications.papers | where: "generalization", "y" %}
      {% for paper in selected_papers %}
        
        <img src={{ paper.thumbnail }} style="FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 20px" alt=""width="200" height="100">
        
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div> -->



    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <img src={{ paper.thumbnail }} style="FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 20px" alt=""width="200" height="100">
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf}}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides}}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>



<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- <p>Full Resume in <a href={{ "/assets/cv/cv_changma.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p> -->

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



<div class="docs-section" id="mis">
  <h4>Miscellaneous</h4>
  <p>
    I am a <a href="assets/profile-pics/hiking.png" target="_blank">hiking enthusiast</a> and my favorite trail is the <a href="https://maps.app.goo.gl/7dSNER2S2KFi7vbq7" target="_blank">MacLehose Trail, Section 2</a> in Hong Kong. 
    I played piano for 8 years as a child and just started getting back into it. I am a keen fan of Bach and recently learning the Goldberg-Variationen. I love two kinds of elegance -- beautiful music and elegant proof.
  </p>
</div>

<div class="docs-section" id="template">
    Thanks to <a href="https://web.stanford.edu/~msaveski/" target="_blank">Martin Saveski</a> for the website template.
</div>
